html {
  font-size: 62.5%; //for rem settings 12px == 1.2rem
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  font-size: 1.4rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

section {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

header {
  nav {
    &.navbar-dark {
      background-color: black;
    }
  }
}

@mixin border-focusblue() {
  outline: 2px solid #42628B;
  box-shadow: 0 0 5PX #ACC1DC;
}

a:focus {
  @include border-focusblue;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.section5 {
  background-color: #e8e8e8;
  border-bottom: 1px solid grey;

  h4 {
    color: #553135;
    font-weight: 900;
  }

  .nav-link {
    color: black;
    display: inherit;
    padding-left: 0px;
    padding-bottom: 0px;
  }

  .footer1 {
    p {
      margin-top: 1rem;
    }

    .contact {
      color: black;
    }

    .socmed {
      margin-top: 20px;

      img {
        width: 30px;
        margin-left: 10px;
      }
    }
  }
}

footer {
  margin: 20px;

  .copyright {
    @media (max-width: 768px) {
      text-align: left !important;
    }
  }
}

@media (min-width: 992px) {
  .owl-nav {
    display: none;
  }
}

// tablet portrait landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .form-inline {
    width: auto !important;
  }
}

// tablet ipad pro landscape
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {}

//mobile
@media (max-width: 768px) {
  .owl-theme .owl-nav {
    text-align: center;
  }
}