.home-page {
  h3 {
    color: #434343;
    font-weight: 900;
    margin-bottom: 30px;
  }
  .section1 {
    color: #434343;
  }
  .section2 {
    .item {
      img {
        width: 50%;
      }
      p {
        margin-top: 40px;
        span {
          color: #7f6543;
          font-weight: 900;
        }
      }
    }
  }
}
